repos = [
  "default-service",
  "ingest-iris",
  "serve-iris"
]
training_repos = [
  "train-iris"
]
security_repos = [
  "vpc-service-controls"
]
topics = [
  "iris"
]
subscriptions = [
  "iris"
]
datasets = [
  "iris"
]
