repos = [
  "ingest-ncei-wind",
  "serve-climate-news"
]
training_repos = [
  "train-iris"
]
security_repos = [
  "vpc-security-controls"
]
topics = [
  "ncei-wind"
]
subscriptions = [
  "ncei-wind"
]
datasets = [
  "ncei"
]
